/* ==UserStyle==
@name           github.com
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Minimal tweaks
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/github.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/github.com
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("github.com")
    .highlight-source-diff .pl-mi1 .pl-mi1
        user-select none
