/* ==UserStyle==
@name           Startpage Full-Focus
@version        1.0.3
@namespace      d.wolf.gdn
@preprocessor 	stylus
@description    Clean, minimalistic redesign of the startpage to stay in focus.
@author		    David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@homepageURL	https://github.com/devidw/user-styles
@supportURL		https://github.com/devidw/user-styles/issues
@license		Unlicense
==/UserStyle== */
@-moz-document domain("startpage.com")
    .home .home__section-one__search-logo-container
    .home .footer-home-above-fold
    .home *[class*='hamburger-menu__']:not(.hamburger-menu__button)
    .home h1.subtitle
    .a-gl-tp
    .w-gl__label
    .widget-install-privacy-protect
    .layout-web__footer
    #main + div
    .layout-video__footer
    #feedback-button-container
    .layout-web__sidebar
    div.home-btn-logo
    .home-btn-magnifying
    .menus
    .pagination__next-prev-button
    .top-nav-container
        display none !important

    .home__section-one__search
        justify-content center

    input
        // &:not(:focus)
        //     text-align center

        &::placeholder
            opacity 0

    body
        background #171b25

    #header header
        background #171b25
        box-shadow 0px 10px 50px 5px #a7b1fc20

    .hamburger-menu
        display block

    .layout-web__body
        margin-left auto
        margin-right auto
        justify-content center

        .layout-web__mainline
            margin 0

    .main-controls
        justify-content center !important

    .search-form
        margin-right -8px

        & > div
            margin auto
            background none

    .inline-nav
        margin-left 0 !important
        max-width unset
        justify-content center

    .categories button
    .categories button:hover
        border-bottom none
        font-size small

    .sp-gl__container
        margin-left 0

    .hamburger-menu-home__button
    .search-filters-toolbar__container button
    .search-filters-toolbar__container a
    .inline-nav
        opacity 0.5

    .w-gl__result
    .w-gl__result.linkHover
        margin-top 1rem
        margin-left 0
        background #ffffff0a !important
        border-radius 1rem
        padding 0.35rem
        border none !important
        transition all 0.2s ease-in-out

    .w-gl__result.linkHover
        background #a7b1fc20 !important

    .w-gl__result-second-line-container
        display block

    .w-gl__result-url-container
        flex-direction row-reverse
        justify-content space-between

    .w-gl__result-url
        pointer-events none
        opacity 0.7
        font-size 0.7rem

    .w-gl__anonymous-view-icon
        margin-right 0 !important

    .w-gl__result-title
        h3
            display block
            transition all 0.2s ease-in-out

        &:hover
            text-decoration none !important

            h3
                padding-left 0.5rem

    .pagination
        justify-content center
        margin-left auto
        margin-right auto
