/* ==UserStyle==
@name           startpage
@version        1.0
@namespace      d.wolf.gdn
@preprocessor 	stylus
==/UserStyle== */
@-moz-document domain("startpage.com")
	.wp-qi-tp
	.a-gl-tp
	.w-gl__label
	.widget-install-privacy-protect
	.layout-web__footer
	#feedback-button-container
	.layout-web__sidebar
	div.home-btn-logo
	.home-btn-magnifying
	.menus
		display none !important

	.hamburger-menu
		display block

	.layout-web__body
		margin-left auto
		margin-right auto
		justify-content center

	.main-controls
		justify-content center !important

	.search-form input
	.inline-nav-menu__container
		text-align center

	.inline-nav
		margin-left 0 !important
		max-width unset
		justify-content center

	.search-form div
		max-width unset

	.sp-gl__container
		margin-left 0

	.search-filters-toolbar__container button
	.search-filters-toolbar__container a
	.inline-nav
		opacity 0.5

	.w-gl__result
	.w-gl__result.linkHover
		margin-top 1rem
		background #ffffff0a !important
		border-radius 1rem
		padding 0.35rem
		border none !important
		transition all 0.2s ease-in-out

	.w-gl__result.linkHover
		background #a7b1fc20 !important

	.w-gl__result-second-line-container
		display block

	.w-gl__result-url-container
		flex-direction row-reverse
		justify-content space-between

	.w-gl__result-url
		pointer-events none
		opacity 0.7
		font-size 0.7rem

	.w-gl__anonymous-view-icon
		margin-right 0 !important

	.w-gl__result-title
		h3
			display block
			transition all 0.2s ease-in-out

		&:hover
			text-decoration none !important

			h3
				padding-left 0.5rem
