/* ==UserStyle==
@name           deepl.com
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Little tweaks for deepl.com 
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/deepl.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/deepl.com
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("deepl.com")
  header.dl_header
  .dl_translator_page_container > *:not(#dl_translator)
  .dl_footerV2_container
  .lmt__docTrans-tab-container
    display none !important