/* ==UserStyle==
@name           kit.svelte.dev
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Clean, minimalistic redesign.
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/kit.svelte.dev/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/kit.svelte.dev
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("kit.svelte.dev")
    #main > div > .content
        max-width 1000px
        margin-left auto
        margin-right auto