/* ==UserStyle==
@name           monday.com - Distraction Free
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor 	stylus
@description    Distraction Free version of monday.com
@author		    David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@homepageURL	https://github.com/devidw/user-styles
@supportURL		https://github.com/devidw/user-styles/issues
@license		Unlicense
==/UserStyle== */

@-moz-document domain("monday.com")
    .board-actions-v2 .subscribers-images-component-v2
    .like-button-component
    .reply-like-button-component
    .post .upper-row
    .watched-bookmark-container
    .reply-watched-posts-component
        display none

    .humanize
        border-right-color transparent !important