/* ==UserStyle==
@name           Stackoverflow Full-Focus
@version        0.1.1
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Clean, minimalistic Stackoverflow redesign for full-focus.
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/stackoverflow.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("stackoverflow.com")
    .s-topbar .s-navigation
    // #sidebar :is(.s-sidebarwidget__yellow, .js-join-leave-container,
    // .newsletter-ad, .sidebar-subcommunity, #feed-link)
    .question-page :is(#sidebar, .bottom-notice, .downvoted-answer)
    #question-header + div > .fc-light
    footer#footer
        display none

    .question-page
    #content
        background var(--highlight-bg) !important

    .question-page

        & > .container
            max-width 1000px !important

        #mainbar
            width unset

        #question-header + div
            border-bottom 0 !important

        #answers > .answer
        .question
            background var(--theme-background-color)
            border-bottom 0 !important
            margin-bottom 3rem
            padding 1rem
            border-radius .5rem
    