/* ==UserStyle==
@name           app.supabase.com
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Little tweaks
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/app.supabase.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/app.supabase.com
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("app.supabase.com")
  // center right side panel
  div[role="dialog"]
    left 33vw !important
    max-width 34vw !important
