/* ==UserStyle==
@name           Stackoverflow Content First
@version        0.1.2
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Clean, minimalistic content first approach to Stackoverflow.
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/stackoverflow.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("stackoverflow.com")
    .s-topbar .s-navigation
    // #sidebar :is(.s-sidebarwidget__yellow, .js-join-leave-container,
    // .newsletter-ad, .sidebar-subcommunity, #feed-link)
    .question-page :is(#sidebar, .bottom-notice, .downvoted-answer,
    #answers-header h2)
    #question-header + div > .fc-light
    [data-s-popover-reference-selector="#trending-sort-info"]
    [for="answer-sort-dropdown-select-menu"]
    footer#footer
        display none

    .question-page
    #content
        background var(--theme-footer-background-color) !important

    .question-page
        & > .container
            max-width 800px !important
            padding-top 2rem

        #mainbar
            width unset

        #question-header + div
            border-bottom 0 !important

        #answers-header
            margin-bottom 2rem

        #answers > .answer
        .question
            background var(--theme-background-color)
            border-bottom 0 !important
            margin-bottom 4rem
            padding 2rem
            border-radius .5rem
    