/* ==UserStyle==
@name           Wikipedia Reading
@version        1.2.1
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Clean, minimalistic Wikipedia redesign for focused reading.
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/wikipedia.org/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/wikipedia.org
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
@var checkbox   fixedToc "Fixed Toc" 1
==/UserStyle== */
// @var checkbox   focusParagraphOnHover "Focus paragraph on mouseover" 1

@-moz-document domain("wikipedia.org")
    @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap")

    // To prevent differnt dark tones on the background with DarkReader
    html
    body
        height unset

    // Optimize typo display
    body
        -moz-osx-font-smoothing grayscale
        -webkit-font-smoothing antialiased
        font-smooth always
        text-rendering optimizeLegibility

    // Layout
    #mw-page-base
    #mw-navigation
    .mw-footer
    // Other
    .mw-indicators
    .mw-editsection
    #siteSub
    // Notices
    #siteNotice
    #centralNotice
    // Scrollbar, we don't want to get distracted by how "far" we are, how
    // "much" is left to read.
    body::-webkit-scrollbar
    // References
    h2:has(> #References)
    .reflist
        display none

    a
        color #A2C4E6

    .mw-body
        max-width 640px
        margin-right auto
        margin-left auto
        font-family "Noto Serif", serif
        font-size 23px
        border none
        background transparent

        // Offset extra media from text
        @media (min-width 1024px)
            .infobox
            .sidebar
            .thumb.tright:not(.sidebar *)
                margin-right -10rem
        
            .thumb.tleft
                margin-left -10rem

        // remove horizontal spacing from "in-article" box-notices
        table[role="presentation"][class*="mbox"]
            margin-right 0
            margin-left 0

    if (fixedToc == 1)
        @media (min-width 1320px)
            #toc
                position fixed
                top 0
                left 0
                height 100vh
                max-width 25vw
                font-size 1rem
                border-top-width 0
                border-bottom-width 0
                border-left-width 0
                background transparent

                &:not(:hover)
                    filter opacity(0.6)

                ul
                    max-height 95vh
                    overflow-y auto
                
                #mw-toc-heading
                    display none

    // if (focusParagraphOnHover == 1)
    //     @media (hover: hover) and (pointer: fine)
    //         .mw-parser-output
    //             // & > p
    //             &:hover > *
    //                 filter opacity(0.6) grayscale(1)

    //             & > *:hover
    //                 filter opacity(1) grayscale(0)