/* ==UserStyle==
@name           Wikipedia Reading
@version        1.1.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Clean, minimalistic Wikipedia redesign for reading.
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/wikipedia.org/index.user.styl
@homepageURL    https://github.com/devidw/user-styles
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
@var checkbox   fixedToc "Fixed Toc" 1
==/UserStyle== */

@-moz-document domain("wikipedia.org")
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap')
        
    body
        // Optimize typo display
        text-rendering optimizeLegibility
        font-smooth always
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

    // Layout
    #mw-page-base
    #mw-navigation
    .mw-footer
    // Other
    .mw-indicators
    .mw-editsection
    #siteSub
    // Notices
    #siteNotice
    #centralNotice
        display none

    .mw-body
        margin-left auto
        margin-right auto
        max-width 640px
        border none
        background transparent
        font-size 23px
        font-family 'Noto Serif', serif

        // Offset extra media from text
        @media (min-width 1024px)
            .infobox
            .sidebar
            .thumb.tright
                margin-right -10rem
        
            .thumb.tleft
                margin-left -10rem

    if (fixedToc == 1)
        @media (min-width 1320px)
            #toc
                position fixed
                left 0
                top 0
                height 100vh
                max-width 25vw
                background transparent
                border-left-width 0
                border-top-width 0
                border-bottom-width 0
                font-size 1rem

                &:not(:hover)
                    filter brightness(0.6)

                ul
                    max-height 95vh
                    overflow-y auto
                
                #mw-toc-heading
                    display none
