/* ==UserStyle==
@name           Centered Google Search
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Little tweaks for google.com 
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/google.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/google.com
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document url-prefix("https://google.com/search"), url-prefix("https://www.google.com/search")
  #sfooter
  #logo
    display none

  @media (min-width: 1600px)
    form[action="/search"]
      width 100%
      display flex
      justify-content center

      & > div > div
        padding-left 0

    #hdtb // header tool bar
    #slim_appbar // X search results in Y seconds
      display flex
      justify-content center

    #hdtb-msb 
      width var(--center-width)
      min-width unset

      & > div > div
        margin-left 0

    #appbar
    #rcnt > #center_col
      margin 0
    
    #rcnt // right content
      max-width 100%
      justify-content center
    
    #rhs // right hand side
      position absolute
      left calc(50% + var(--center-width) / 2)