/* ==UserStyle==
@name           make.com
@version        1.0.1
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Minimal tweaks
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/make.com/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/make.com
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("make.com")
    imt-picker .options
        max-height 50vh !important
