/* ==UserStyle==
@name           {domain}
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Little tweaks for {domain} 
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/{domain}/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/{domain}
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

@-moz-document domain("{domain}")