/* ==UserStyle==
@name           Plesk
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor   stylus
@description    Plesk
@author         David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/plesk/index.user.styl
@homepageURL    https://github.com/devidw/user-styles/tree/master/sites/plesk
@supportURL     https://github.com/devidw/user-styles/issues
@license        Unlicense
==/UserStyle== */

// TODO: check /smb/ in url
@-moz-document regexp(".*")
    #gen-id-3 .scrollable.fm-scrollable
        height 80vh !important
