/* ==UserStyle==
@name           readthedocs.io
@version        1.0.0
@namespace      d.wolf.gdn
@preprocessor 	stylus
@description    Clean, minimalistic redesign.
@author		    David Wolf <d@wolf.gdn> (https://d.wolf.gdn)
@updateURL      https://raw.githubusercontent.com/devidw/user-styles/master/sites/readthedocs.io/index.user.styl
@homepageURL	https://github.com/devidw/user-styles/tree/master/sites/readthedocs.io
@supportURL		https://github.com/devidw/user-styles/issues
@license		Unlicense
==/UserStyle== */

@-moz-document domain("readthedocs.io")
    body
        display flex
        justify-content center

    .wy-grid-for-nav
        width unset
